@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

.font-inter{
font-family: "Inter", sans-serif;
}

.hero-img{
  background-image: url("assets/hero-circle.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#hero{
  background-image: url("assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.headphone-card{
  grid-area: headphone;
  max-width: 380px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mobile-card{
  grid-area: mobile;
  max-width:790px;
}

.global-card{
  grid-area: global;
  max-width:790px;
}

.exclusive-card{
  grid-area: exclusive;
  max-width:790px;
}

.rich-card{
  grid-area: rich;
  max-width: 380px;
}

.choose-container{
  display: grid;
  gap: 30px;
  grid-template-areas: 
  "headphone mobile mobile"
  "headphone global global"
  "exclusive exclusive rich"
  ;
}
