@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

.font-inter{
font-family: "Inter", sans-serif;
}

.hero-img{
  background-image: url("assets/hero-circle.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#hero{
  background-image: url("assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
