@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

.font-inter{
font-family: "Inter", sans-serif;
}

.hero-img{
  background-image: url("assets/hero-circle.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#hero{
  background-image: url("assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: ;
}

.headphone-card{
  grid-area: headphone;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mobile-card{
  grid-area: mobile;
}

.global-card{
  grid-area: global;
}

.exclusive-card{
  grid-area: exclusive;
}

.rich-card{
  grid-area: rich;
}

.choose-container{
  display: grid;
  gap: 30px;
  grid-template-columns: 380px 1fr 1fr;
  grid-template-areas: 
  "headphone mobile mobile"
  "headphone global global"
  "exclusive exclusive rich"
  ;
}

footer{
  background-image: url(assets/footer-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.subscribe{
  transition: ease-in-out .3s;
}

.subscribe:hover{
  transform: scale(1.1);
}

li{
  transition: ease-in-out .3s;
}

li:hover{
  background-color: rgb(180, 8, 248);
  border-radius: 40px;
  padding-top: 12px;
  padding-bottom:12px;
  padding-left:40px;
  padding-right:40px;
}

.microphone{
  transition: ease-in-out .3s;
}

.hero-img:hover .microphone{
  transform: scale(1.1);
}

.hero-img span{
  transition: ease-in-out .3s;
}

.hero-img span:hover{
  transform: scale(1.1);
}
.card{
  transition: ease-in-out .3s;
}

.card:hover{
  transform: translateY(-10px);
}

@media screen and (max-width:576px) {

.choose-container{
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "headphone"
  "mobile"
  "global"
  "exclusive"
  "rich"
  ;
}


footer{
  background-image: url(assets/footer-bg.png);
  background-repeat: no-repeat;
  height: 220px;
  background-position: center;
}

#hero{
  background-image: url("assets/hero-bg.png");
  height: 466px;
  background-position: center;
  background-repeat: no-repeat;
}


}

@media screen and (min-width:577px) and (max-width:992px) {

.choose-container{
  display: grid;
  gap: 30px;
  grid-template-columns:1fr 1fr;
  grid-template-areas: 
  "headphone mobile"
  "global exclusive"
  "rich rich"
  ;
}
}